[Unit]
Description=Kiosk Backend

[Service]
Restart=always
RestartSec=30
ExecStart=/bin/bash /home/pi/server.sh
User=pi


[Install]
WantedBy=multi-user.target
